<h3 class="form-request">Zdefiniuj kto ma się go uczyć przedmiotu ({{newSubject.name}})</h3>

<div class="spaced-l-l spaced-t row">
  <div>
    <select name="studyField" id="studyField" class="app-input normal-input"
      [(ngModel)]="newSubject.students.studyFieldID">

      <option *ngFor="let field of studyFields" 
        [ngValue]="field.id">{{field.name}}</option>
    </select>
    <p class="app-input-hint">Nazwa kierunku</p>
  </div>

  <div class="spaced-l">
    <select name="cars" id="cars" class="app-input tiny-input"
      [(ngModel)]="newSubject.students.semester">
      
      <option *ngFor="let semester of getSemesters" 
        [value]="semester">{{semester}}</option>
    </select>
    <p class="app-input-hint">Semestr</p>
  </div>

</div>
