<div class="side-panel box-shadow h-100 white-color column">
  <div class="title">
    <h1 class="side-panel-title text-shadow">Generator planów zajęć</h1>
  </div>

  <div class="hrefs column">
    <div class="center-row spaced-b-s">
      <span class="material-icons spaced-r-s w-10 h-100">dvr</span>
      <a class="h-100" routerLink="fields">Kierunki studiów</a>
    </div>

    <!-- todo -->
    <div class="center-row spaced-b-s">
      <span class="material-icons spaced-r-s w-10">person_outline</span>
      <a routerLink="teachers">Nauczyciele akademiccy</a>
    </div>

    <!-- todo -->
    <div class="center-row spaced-b-s">
      <span class="material-icons spaced-r-s w-10">content_paste</span>
      <a routerLink="subjects">Przedmioty</a>
    </div>

    <!-- todo -->
    <div class="center-row spaced-b-s">
      <span class="material-icons spaced-r-s w-10">transfer_within_a_station</span>
      <a routerLink="class">Sale</a>
    </div>

    <!-- todo -->
    <div class="center-row spaced-b-s">
      <span class="material-icons spaced-r-s w-10">book_online</span>
      <a routerLink="timetables">Rozkład zajęć</a>
    </div>

  </div>
</div>