<form class="page-content-height" #f="ngForm" (ngSubmit)="lastStep === step ? createTeacher() : step = step + 1">
  <div class="content">
    <div class="row">
      <h1 class="page-title">Dodaj nauczyciela akademickiego</h1>
      <div class="space"></div>
      <h5 class="step">Krok: {{step}}/{{lastStep}}</h5>
    </div>
    <div class="sub-content">
      <app-create-teacher-step-one [(newTeacher)]="newTeacher" *ngIf="step==1">
      </app-create-teacher-step-one>
      <app-create-teacher-step-two [(newTeacher)]="newTeacher" *ngIf="step==2"></app-create-teacher-step-two>
    </div>


    <!-- <p>The input's valid state is:</p>
    <h1>{{createForm.form.valid}}</h1> -->
  </div>


  <app-buttons [(step)]="step" [lastStep]="lastStep" [f]="f" [cancelLink]="'teachers'"></app-buttons>
</form>
